@import '../../styles/variables.css';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-dark);
  gap: var(--space-md);
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: var(--color-text-dark);
}

.inputLineAndRefreshButton {
  display: flex;
  gap: var(--space-sm);
  width: 100%;
  align-items: stretch;
}
