.switchControls {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
  max-width: 40rem;
  border-radius: var(--radius-md);
}

.controlGroup {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-sm);
  align-items: center;
  border: none;
  padding: 0.5rem;
  background: var(--color-bg-light);
}

.controlGroup legend {
  width: 100%;
  font-weight: 600;
  font-size: var(--text-sm);
  color: var(--color-text-dark);
  display: none;
}
